<div class="mb-4 mt-8">
    <p-card styleClass="sm:w-full md:w-3 m-auto">
        <ng-template #header>
            <h2 class="text-center">Reset password</h2>
        </ng-template>
        <form [formGroup]="resetForm">
            <div class="mb-2">
                <label class="block font-bold mb-2" for="password">Password</label>
                <p-password [feedback]="false" [toggleMask]="true" id="password" formControlName="password"
                    inputStyleClass="w-full" styleClass="w-full" />
                <div>
                    @if (resetForm.get("password")?.invalid && (resetForm.get("password")?.dirty ||
                    resetForm.get("password")?.touched)) {

                    @if (resetForm.get("password")?.errors?.['required']) {
                    <small class="text-red-500">Password is required</small>
                    }
                    }
                </div>
            </div>
            <div class="mb-2">
                <label class="block font-bold mb-2" for="confirm_password">Confirm password</label>
                <p-password [feedback]="false" [toggleMask]="true" id="confirm_password"
                    formControlName="confirm_password" inputStyleClass="w-full" styleClass="w-full" />
                <div>
                    @if (resetForm.get("confirm_password")?.invalid && (resetForm.get("confirm_password")?.dirty ||
                    resetForm.get("confirm_password")?.touched)) {

                    @if (resetForm.get("confirm_password")?.errors?.['required']) {
                    <small class="text-red-500">Confirm password is required</small>
                    }

                    }
                    @if (resetForm.errors?.['invalidConfirmPassword']) {
                    <small class="text-red-500">Passwords do not match</small>
                    }
                </div>
            </div>
        </form>
        <ng-template #footer>
            <p-button label="Send" class="w-full" styleClass="w-full" [loading]="loading" (onClick)="onSubmit() " />
        </ng-template>
    </p-card>
</div>