<div class="mb-4 mt-8">
    <p-card styleClass="sm:w-full md:w-3 m-auto">
        <ng-template #header>
            <h2 class="text-center">Forget password</h2>
        </ng-template>
        <form [formGroup]="forgetForm">
            <div class="mb-2">
                <label class="block font-bold mb-2" for="email">Email</label>
                <input type="text" pInputText class="w-full" id="email" formControlName="email" />
                @if (forgetForm.get("email")?.invalid && (forgetForm.get("email")?.dirty ||
                forgetForm.get("email")?.touched)) {
                <div>
                    @if (forgetForm.get("email")?.errors?.['required']) {
                    <small class="text-red-500">Email is required</small>
                    }@if (forgetForm.get("email")?.errors?.['invalidEmail']) {
                    <small class="text-red-500">Invalid email</small>
                    }
                </div>
                }
            </div>
        </form>
        <ng-template #footer>
            <div class="flex align-items-center justify-content-between mt-1">
                <p-button label="Login" [link]="true" [routerLink]="['/login']" styleClass="w-full" class="w-full" />
                <p-button label="Send" class="w-full" styleClass="w-full" [loading]="loading" (onClick)="onSubmit() " />
            </div>
        </ng-template>
    </p-card>
</div>